textarea.biztech_scp_pro,
input.biztech_scp_pro,
select.biztech_scp_pro {
  background:#ddd !important;
}
textarea.biztech_scp_pro {
  resize:none;
}
.biztech_scp_pro_checkbox {
  width: 20px;
  position: relative;
  float: left;
  margin: 3px 0;
}
.biztech_scp_pro_checkbox label {
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  border-radius: 4px;
  background: #ddd;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
}
.stopdropdown {
  float: left;
  z-index: 11;
  position: relative;
}
.stopdropdown::before {
  content: '';
  height: 100%;
  float: left;
  width: 100%;
  position: absolute;
  left: 0;
  opacity: .5;
}
.biztech_scp_pro_feature.pro_sticky{
  position: fixed;
  right: 145px;
  top: 190px;
}
.biztech_scp_pro_feature.pro_sticky img{
  box-shadow: 0 0 10px 2px #ccc;
}
