/* FONT PATH
 ===========================*/

/* standalone
 ============================*/

@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i';

.scp-standalone *,
.scp-standalone,
.crm_standalone,
.crm_standalone * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.scp-standalone a {
  outline: none;
}

.scp-standalone {
  background: #eef0f1;
  font-family: 'Open Sans', sans-serif;
}
.scp-standalone .scp-container{
  width: 100%;
  padding: 0;
}
.crm_standalone textarea {
  font-family: 'Open Sans', sans-serif;
}

/*Standalone*/

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.3.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}
.fa-angle-right:before {
  content: "\f105";
}
.fa-angle-down:before {
  content: "\f105";
}

/* ICons
-------------------------*/
.side-icon-wrapper.Accounts:before {
  content: "\f007";
}
.side-icon-wrapper.Calls:before {
  content: "\f095";
}
.side-icon-wrapper.Cases:before {
  content: "\f0c5";
}
.side-icon-wrapper.Meetings:before {
  content: "\f0b1";
}
.side-icon-wrapper.Notes:before {
  content: "\f044";
}
.side-icon-wrapper.Tasks:before {
  content: "\f0ae";
}
.side-icon-wrapper.p_Payment_transaction:before {
  content: "\f155";
}
.side-icon-wrapper.Quotes:before {
  content: "\f10d";
}
.side-icon-wrapper.Opportunities:before {
  content: "\f006";
}
.side-icon-wrapper.Leads:before {
  content: "\f024";
}
.side-icon-wrapper.Invoices:before {
  content: "\f022";
}
.side-icon-wrapper.Documents:before {
  content: "\f114";
}
.side-icon-wrapper.Contracts:before {
  content: "\f0f6"
}
.side-icon-wrapper.Knowledge:before {
  content: "\f059";
}
.fa-plus:before {
  content: "\f067";
}
.fa-list:before {
  content: "\f03a";
}
.fa-tachometer:before {
  content: "\f0e4";
}
.fa-calendar:before {
  content: "\f073";
}
.fa-arrow-right:before {
  content: "\f054";
}

.scp-both-sort {
  background-image: url("../images/sort_both.png");
  background-repeat: no-repeat;
  background-position: right center;
  display: inline-block;
  width: 100%;
  padding-right: 20px;
}
.scp-asc-sort {
  background-image: url("../images/sort_asc.png");
  background-repeat: no-repeat;
  background-position: right center;
  display: inline-block;
  width: 100%;
  padding-right: 20px;
}
.scp-desc-sort {
  background-image: url("../images/sort_desc.png");
  background-repeat: no-repeat;
  background-position: right center;
  display: inline-block;
  width: 100%;
  padding-right: 20px;
}


/*Common css
*----------------------------------------------------*/

.scp-container{
  width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 100%;
}
#content .scp-container {
  width: 960px;
}

label.error-line {
  color: #ff0000;
  font-size: 12px;
  font-weight: 400;
  text-align: left;
}
label.error-line:after {
  display: none;
}
.dsp_error_msg {
  background: #ffc6c6;
  border-left: 5px solid #a53c3c;
  color: #a53c3c;
  display: inline-block;
  font-size: 13px;
  padding: 5px;
  width: 100%;
  text-align: left;
  margin-bottom: 15px;
}
.dsp_sucess_msg {
  background: #cfffc6;
  border-left: 5px solid #6db05f;
  color: #4c933e;
  display: inline-block;
  font-size: 13px;
  padding: 5px;
  width: 100%;
  display: inline-block;
  text-align: left;
  margin-bottom: 15px;
}
#dsp-loader {
  width: 100%;
  height: 100%;
  float: left;
  position: fixed;
  /*background: rgba(0,0,0,0.5);*/

  top: 0;
  left: 0;
}
#dsp-loader img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.scp-table-responsive {
  width: 100%;
  overflow-x: auto;
}
.form-required {
  color: #f00;
}
.scp-no-record {
  text-align: center;
  color: #ce6060;
}
.scp-rightpanel .pagination .page_info {
  display: none;
}
.scp-rightpanel #otherdata {
  margin-top: 25px;
}
.scp-rightpanel .pagination {
  float: left;
  width: 100%;
  padding: 0px;
  margin: 20px 0 0;
  text-align: center;
}
.scp-rightpanel .pagination li {
  list-style: outside none none;
  padding: 0 0 0 0px;
  display: inline-block;
  margin: 0 5px;
}
.scp-rightpanel .pagination li a {
  background: #fff;
  display: block;
  padding: 8px 12px;
  border-radius: 50%;
  font-size: 16px;
  line-height: 16px;
  color: #3d3d3d;
  text-decoration: none;
}
.scp-rightpanel .pagination li.page_info {
  float: left;
  font-size: 15px;
}
.scp-rightpanel .pagination .current {
  background: #b7b7b7;
  color: #fff;
}
.scp-rightpanel .pagination li.page-prev a,
.scp-rightpanel .pagination li.page-next a {
  font-size: 25px;
  display: block;
  padding: 5px 12px 12px;
  line-height: 15px;
  background: #f0f0f0;
}

/*Title
------------------------*/

.dsp-list-title h3 {
  padding: 0;
  padding-right: 30px;
  margin: 0;
  font-size: 30px;
  font-weight: 300;
  display: inline-block;
  vertical-align: middle;
}
.dsp-list-title h3 i {
  margin-right: 10px;
}
.dsp-list-title {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 15px;
  padding: 0 0 10px;
}
.dsp-list-title .scp-action-header-left {
  float: left;
}
.scp-form-title .scp-move-action-btn {
  float: right;
}
.scp-form-title .scp-move-action-btn .scp-btn {
  margin-left: 5px;
  border: none;
  font-weight: 700;
  padding: 6px 11px;
  font-size: 12px;
}
.scp-header .scp-page-title {
  font-size: 22px;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

.dsp-list-title .actionform_search {
  float: right;
  position: relative;
  width: 400px;
  max-width: 100%;
  padding-right: 90px;
  margin-top: 4px;
}
.dsp-list-title .search-box {
  position: relative;
}
.dsp-list-title .search-input {
  width: 100%;
  height: 35px;
  padding: 5px 95px 5px 5px;
  margin: 0;
  border: 1px solid #b7b7b7;
}
.dsp-list-title .hdr-btn-link {
  position: absolute;
  top: 0;
  right: 0;
  height: 35px;
  width: 80px;
  text-align: center;
  line-height: 30px;
  color: #fff;
  background: #b7b7b7 !important;
  font-weight: 700;
  text-decoration: none;
  font-size: 14px;
  line-height: 33px;
}
.dsp-list-title .search-btn.hdr-btn-link,
#content .dsp-list-title .search-btn.hdr-btn-link {
  padding: 0;
  border: none;
  height: 33px;
  width: 90px;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  line-height: 33px;
  position: absolute;
  top: 1px;
  right: 1px;
  border-radius: 0;
  color: #fff;
  background: #b7b7b7 !important;
  font-size: 14px;
}
.scp-form-title {
  border-bottom: 1px solid #d6d6d6;
  padding: 0 0 10px;
  margin: 0 0 15px;
  font-size: 20px;
  font-weight: 600;
  color: #5c5c5c;
  width: 100%;
  display: inline-block;
  vertical-align: top;
}
.scp-form-title h3 {
  float: left;
  margin: 0;
}
.scp-page-action-title {
  border-bottom: 1px solid #d6d6d6;
  padding: 0 0 10px;
  margin: 0 0 15px;
  font-size: 20px;
  font-weight: 600;
  color: #5c5c5c;
}

/* Buttons
*------------------*/
.scp-button,
#content .scp-button {
  background: #80cbc4;
  font-size: 17px;
  padding: 12px 40px;
  border-radius: 0;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
  color: #fff;
  cursor: pointer;
  line-height: normal;
  -webkit-appearance: none;
  font-family: inherit;
}
.scp-btn,
#content .scp-btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: none;
  border-radius: 0;
  text-decoration: none;
  -webkit-appearance: none;
}
.scp-btn:hover,
#content .scp-btn:hover,
.scp-btn:focus,
#content .scp-btn:focus,
.scp-btn:active,
#content .scp-btn:active {
  color: #fff;
}
.scp-btn-default {
  color: #fff;
  background-color: #80cbc4;
}
.scp-btn-default .fa {
  margin-right: 5px;
}
.scp-btn-danger {
  color: #fff;
  background-color: #df4626;
}
.scp-btn-danger .fa {
  margin-right: 5px;
}
.general-link-btn {
  border-radius: 2px;
  font-size: 12px;
  line-height: 18px;
  padding: 0;
  width: 113px;
  display: inline-block;
  text-decoration: none !important;
  color: #333 !important;
  font-weight: 800;
  text-transform: uppercase;
}
.success {
  background: #cfffc6;
  border-left: 5px solid #6db05f;
  color: #4c933e;
  display: inline-block;
  font-size: 13px;
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
  margin: 10px auto;
  display: inline-block;
}

/* Table
*------------------*/
.scp-table {
  border-spacing: 0;
  border-collapse: collapse;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ededed;
}
.scp-table tr {
  background: transparent;
}
.scp-table tr:nth-child(2n+3) {
  background: #f8f8f8
}
.scp-table tr th {
  background: #949494;
  padding: 10px;
  text-align: left;
  color: #fff;
  border-left: 1px solid #ededed;
  font-size: 14px;
}
.scp-table tr th a {
  color: #fff;
  text-decoration: none;
}
.scp-table tr td {
  padding: 5px;
  border: none;
  border-left: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  font-size: 14px;
}
.scp-table .action {
  text-align: center;
  max-width: 90px;
  width: 90px;
}
.scp-table .action a {
  text-decoration: none;
  font-size: 18px;
  margin: 0 4px;
}
.scp-table .action a .fa-pencil-square-o {
  color: #008000
}
.scp-table .action a .fa-eye {
  color: #33bbff
}
.scp-table .action a .fa-trash-o {
  color: #ff0000
}


/*scp-header
------------------------------*/
#content .scp-header {
  z-index: 5;
}
.scp-header {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  background: #f0f0f0;
  padding: 10px 0;
  position: relative;
  z-index: 1;
  letter-spacing: normal;
}
.scp-header .scp-title {
  float: left;
}
.scp-header .scp-action {
  float: right;
  position: relative;
}
.scp-header .scp-action .scpt-user {
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
}
.scp-header .scp-action .scpt-user a {
  color: #80cbc4;
  text-decoration: none;
}
.scp-header .scp-action .scp-menu-dashboard {
  color: #444;
  text-decoration: none;
  padding: 3px 0;
  display: inline-block;
}
.scp-header .scp-action .scp-menu-dashboard:after {
  font-family: 'FontAwesome';
  padding: 0px 8px 0 4px;
  /* font-size: 20px;*/

  vertical-align: middle;
  color: #444444;
}
.scp-header .scp-action .scp-menu-dashboard:after {
  content: "\f106";
}
.scp-header .scp-action .scp-menu-dashboard.menu-active:after {
  content: "\f107";
}
.scp-header .scp-action .scp-open-dashboard-menu {
  position: absolute;
  width: 200px;
  right: 0;
  top: 35px;
  background: #fff;
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.12);
  list-style-type: none;
  padding: 5px 0;
  margin: 0;
}
.scp-header .scp-action .scp-open-dashboard-menu li a {
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 400;
  color: #858585;
  text-decoration: none;
  display: block;
}
.scp-header .scp-action .scp-open-dashboard-menu li a i {
  margin-right: 8px;
}
.scp-header .scp-action .scp-open-dashboard-menu li a:hover {
  color: #575757;
}
.scp-standalone .scp-header.scp-header-home {
  width: 100%;
  padding: 15px;
  margin-bottom: 25px;
}
.scp-standalone .scp-header.scp-header-home .scp-container {
  width: 1250px;
  max-width: 100%;
}
.scp-header .scp-action .scp-menu-dashboard {
  padding: 5px 0;
  display: inline-block;
}


/*Login Page
---------------------------*/

.dsp-login-container,
.dsp-login-container * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.dsp-login-container {
  width: 320px;
  padding: 50px 20px 30px;
  background: #f8f8f8;
  border: 1px solid #d6d6d6;
  margin: 0 auto;
  text-align: center;
  border-radius: 8px;
  position: relative;
  margin-top: 100px;
}
.dsp-login-container .user-icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  position: absolute;
  top: -50px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.dsp-login-container .user-icon img {
  width: 100%;
  height: 100%;
}
.dsp-login-container .dsp-login-title {
  margin-bottom: 20px;
}
.dsp-login-container .dsp-login-title h3 {
  margin: 20px 0 0;
  font-weight: 400;
  font-size: 18px;
  color: #666;
}
.dsp-login-container .dsp-login-title h3 b {
  font-weight: 400;
}
.dsp-login-container .form-item {
  margin: 0 0 18px;
}
.dsp-login-container .form-text {
  width: 100%;
  padding: 10px;
  text-align: center;
  border: 1px solid #d6d6d6;
  border-radius: 3px;
  height: 40px;
  font-size: 14px;
  font-weight: 300;
  color: #000;
}
.dsp-login-container .form-text::-moz-placeholder {
  font-weight: 300;
  color: #a9a9a9;
  opacity: 1 !important;
}
.dsp-login-container .form-text::-webkit-input-placeholder {
  font-weight: 300;
  color: #a9a9a9;
  opacity: 1 !important;
}
.dsp-login-container .form-text:-ms-input-placeholder {
  font-weight: 300;
  color: #a9a9a9;
  opacity: 1 !important;
}
.dsp-login-container .form-text:-moz-placeholder {
  font-weight: 300;
  color: #a9a9a9;
  opacity: 1 !important;
}
.dsp-login-container input.scp-button[type="submit"],
#content .dsp-login-container input.scp-button[type="submit"] {
  width: 100%;
  display: block;
  background: #80cbc4;
  padding: 12px 15px;
  font-size: 14px;
  border-radius: 3px;
  border-bottom: 3px solid #73b6b0;
  font-weight: 600;
}
.dsp-login-container .wrapper-links {
  width: 100%;
  float: none;
  display: inline-block;
  vertical-align: top;
  margin: 28px 0 0;
  text-align: center;
}
.dsp-login-container .wrapper-links a {
  color: #73b6b0;
  text-decoration: none;
  font-size: 14px;
}
.dsp-login-container .wrapper-links p {
  margin: 0 0;
}
.dsp-login-container .wrapper-links > p + p {
  margin-top: 10px;
}
#drupal-sugar-portal-forgot-password-form .dsp-login-container {
  padding-top: 10px;
}
/* UI Datepicker
---------------------------*/

/* Form
---------------------------*/

.dsp-signup.dsp-gen-form {
  margin: 0;
}
.crm_standalone {
  width: 1000px;
  margin: 0 auto;
  max-width: 100%;
}
.dsp-gen-form {
  letter-spacing: -0.31em;
  margin: 0 -15px;
}
.scp-standalone .dsp-gen-form .scp-header {
  padding: 10px 15px;
  width: calc(100% - 30px);
  width: -webkit-calc(100% - 30px);
  width: -moz-calc(100% - 30px);
  width: -o-calc(100% - 30px);
  margin: 0 15px 20px;
}
#content .dsp-gen-form .scp-header {
  padding: 10px 15px;
  width: calc(100% - 30px);
  width: -webkit-calc(100% - 30px);
  width: -moz-calc(100% - 30px);
  width: -o-calc(100% - 30px);
  margin: 0 15px 20px;
}
.dsp-gen-form .form-item {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  letter-spacing: normal;
  padding: 0 15px;
  margin: 0 0 15px;
}
.dsp-gen-form .form-item label {
  font-weight: 400;
  font-size: 13px;
  margin-bottom: 5px;
}
.dsp-gen-form .form-text {
  border: 1px solid #e1e1e1;
  border-radius: 0;
  height: 35px;
  padding: 5px 10px;
  width: 100%;
  font-size: 14px;
}
.dsp-gen-form textarea {
  border: 1px solid #e1e1e1;
  padding: 5px 10px;
  font-family: inherit;
  font-size: 14px;
  height: 100px;
  width: 100%;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
  resize: none;
}
#drupal-sugar-portal-profile-form .form-item-user-name span.form-required,
#drupal-sugar-portal-profile-form .form-item-email-address span.form-required {
  display: none;
}
.dsp-gen-form input[type="submit"] {
  margin-left: 15px;
  border-bottom: 3px solid #73b6b0 !important;
  border-radius: 3px !important;
}
.scp-form .scp-dtl-panel {
  letter-spacing: -0.31em;
  margin: 0 -15px;
}
.scp-form .scp-dtl-panel .scp-col-12 {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  letter-spacing: normal;
  padding: 0 15px;
  margin: 0 0 15px;
}
.scp-form .scp-dtl-panel .scp-col-6 {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  letter-spacing: normal;
  padding: 0 15px;
  margin: 0 0 15px;
  position: relative;
}
.scp-form .scp-dtl-panel .scp-form-group {
  position: relative;
}
.scp-form .scp-dtl-panel .scp-form-group .calendar-wrapper {
  top: 100% !important;
  left: 0 !important;
}
.scp-form .panel-title .panel_name {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  border-bottom: 1px solid #ccc;
  font-size: 16px;
  font-weight: 700;
  padding: 0 0 10px;
  color: #5c5c5c;
}
.scp-form .scp-form-group label {
  font-size: 13px;
  padding-bottom: 5px;
  float: left;
}
.scp-form .required label:after {
  content: "*";
  color: #ff0000;
}
.scp-form .input-text {
  border: 1px solid #e1e1e1;
  border-radius: 0;
  height: 35px;
  background: none;
  padding: 5px 10px;
  width: 100%;
  font-size: 14px;
  background: #fff;
  color: #333;
  float: left;
}
.scp-form .input-text[type="file"] {
  border: none;
  padding: 0;
  height: auto;
}
.scp-form .input-text[type="checkbox"] {
  width: auto;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}
.scp-form textarea.input-text {
  height: 80px;
  font-family: inherit;
  max-width: 100%;
  min-width: 100%;
  float: left;
}
.scp-form select {
  border: 1px solid #e1e1e1;
  border-radius: 0;
  height: 35px;
  background: none;
  padding: 5px 10px;
  width: 100%;
  font-size: 14px;
  background: #fff;
  color: #333;
}
.scp-form .panel-left-label label {
  width: 30%;
  float: left;
  padding-right: 15px;
  color: #444444;
}
.scp-form .panel-left-label label b {
  font-weight: 700;
  font-size: 14px;
}
.scp-form .panel-left-label .data-view {
  font-weight: 400;
  font-size: 14px;
  color: #666;
  width: 60%;
  float: left;
}
.scp-form-actions {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  padding: 15px 0 0;
}
.scp-form-actions .scp-button {
  margin-right: 10px;
}
body .scp-form-actions .scp-cancel[type="button"] {
  background: #cccccc !important;
  font-size: 17px;
  padding: 12px 40px;
  border-radius: 0;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
  color: #fff;
  cursor: pointer;
  line-height: normal;
  -webkit-appearance: none;
}
/*Sing Up*/

.dsp-signup {
  padding: 20px;
  background: #f8f8f8;
  border: 1px solid #d6d6d6;
  border-radius: 8px;
}
.dsp-signup .scp-button {
  margin-left: 15px;
}
/* Dashboard
---------------------------*/

.scp-dashboard .scp-container {
  width: 1100px;
  max-width: 100%;
}
.scp-dashboard .spc-das-row {
  margin: 0 -15px;
  letter-spacing: -0.31em;
  text-align: center;
}
.scp-dashboard .spc-das-row li {
  padding: 0 32px;
  letter-spacing: normal;
  list-style-type: none;
  width: 20%;
  display: inline-block;
  vertical-align: top;
  margin-top: 64px;
}
.scp-dashboard .spc-das-row li .module-box {
  text-align: center;
  border: 1px solid;
  border-radius: 8px;
  overflow: hidden;
  background: #80cbc4;
  border-color: #80cbc4;
  transition: all .2s ease;
  -moz-transition: all .2s ease;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
}
.scp-dashboard .spc-das-row li .module-box:hover {
  box-shadow: 0 0 20px 0px RGBA(0, 0, 0, 0.4)
}
.scp-dashboard .spc-das-row li h2 {
  color: #666;
  background: #fff;
  font-size: 16px;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  margin: 0;
  padding: 10px 5px;
}
.scp-dashboard .spc-das-row li .module-icon {
  font-size: 70px;
  color: #fff;
  height: 160px;
  line-height: 160px;
}
.scp-dashboard .spc-das-row li a {
  color: #fff;
  text-decoration: none;
  display: block;
}
.scp-dashboard .spc-das-row p {
  margin-bottom: 15px;
}
/*Nots
-------------------------------*/

.scp-rightpanel .acp-all-notes {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  border: 1px solid #ddd;
  margin-bottom: 20px;
}
.scp-rightpanel .acp-all-notes .scp-form-title {
  padding: 10px 15px;
  margin: 0;
}
.scp-rightpanel .acp-all-notes .scp-form-title h3 {
  color: #81c784 !important
}
.scp-rightpanel .acp-all-notes h3 {
  font-weight: 600;
  font-size: 20px;
}
.scp-rightpanel .acp-no-record {
  padding: 20px;
  display: block;
}
.scp-rightpanel .acp-all-notes ul {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  padding: 20px;
  margin: 0;
  max-height: 300px;
  overflow-y: auto;
}
.scp-rightpanel .acp-all-notes li {
  list-style: none;
  padding: 5px 0;
  float: left;
  width: 100%;
  border-bottom: 1px solid #ddd;
}
.scp-rightpanel .acp-all-notes li .name {
  font-size: 15px;
  font-weight: bold;
  float: left;
  width: 100%;
}
.scp-rightpanel .acp-all-notes li .description {
  float: left;
  width: 100%;
  font-size: 14px;
}
.scp-rightpanel .acp-all-notes li .general-link-btn {
  color: #81c784 !important
}
/*scp_recent_activities
-----------------------------------*/

.scp_recent_activities {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  margin-top: 60px;
}
.scp_recent_activities .activity-tab {
  width: calc(50% - 10px);
  width: -moz-calc(50% - 10px);
  width: -webkit-calc(50% - 10px);
  width: -o-calc(50% - 10px);
  padding: 0;
  float: left;
  border-bottom: none;
  margin-right: 20px;
  margin-bottom: 20px;
}
.scp_recent_activities .activity-tab .at-inner {
  border: 1px solid #b7b7b7;
  border-bottom: none;
  border-top: none;
}
.scp_recent_activities .activity-tab.last {
  margin-right: 0;
}
.scp_recent_activities .activity-tab h5 {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  background: #f48fb1;
  margin: 0;
  padding: 10px;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
}
.scp_recent_activities .activity-tab h5 .fa {
  margin-right: 5px;
}
.scp_recent_activities .activity-tab .scp-recent-data {
  padding: 10px;
  border-bottom: 1px solid #b7b7b7;
  font-size: 13px;
  font-weight: 700;
  width: 100%;
  display: inline-block;
  vertical-align: top;
}
.scp_recent_activities .activity-tab .scp-recent-data .scp-activity-date {
  float: right;
  font-weight: 300;
}
.scp_recent_activities .activity-tab .scp-view-notification {
  text-align: right;
}
.scp_recent_activities .activity-tab .scp-view-notification a {
  text-decoration: underline;
  font-size: 13px;
  font-weight: 700;
}
/*Calendar
------------------------------------*/

.scp-rightpanel .calendar .list-group {
  padding: 20px 0 0
}
.scp-rightpanel .calendar .list-group li {
  list-style-type: none;
  font-size: 14px;
}
.scp-rightpanel .calendar .list-group li .badge {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
}
.scp-rightpanel .calendar .list-group li .badge {
  border-radius: 12px !important;
  font-size: 11px !important;
  font-weight: 300;
  height: 18px;
  padding: 3px 6px;
  text-align: center;
  text-shadow: none !important;
  vertical-align: middle;
}
html .fc,
.fc table {
  font-size: 14px;
}
.fc-header tr {
  background: none
}
.fc-header h2 {
  margin: 0;
  padding: 0;
  line-height: normal;
}
.fc-header .fc-button {
  padding: 0px 12px;
}
.fc-button-prev .fc-text-arrow,
.fc-button-next .fc-text-arrow {
  line-height: 20px;
}
.fc-header td {
  vertical-align: top;
}
.fc-border-separate tbody tr.fc-first td,
.fc-border-separate tbody tr.fc-first th {
  width: 14.29%;
}
/*
.fc-header td { vertical-align: middle; padding: 20px 0;}
.fc-header td h2 { font-size: 18px; margin: 0; padding: 0; }
.fc-header .fc-button { margin: 0;}
.fc-header .fc-button {  margin: 0 5px; border: 1px solid #ddd !important }
.fc-state-default { background: #fff; box-shadow: none; border-radius: 0 !important; font-size: 14px;}
.fc-state-disabled { background: #eee;}
.fc-state-default:hover { background: #eee;}*/
/* Standalone
=============================================================================================*/
/* Header
-----------------------------*/

.scp-standalone .scp-header {
  width: calc(100% - 13%);
  width: -webkit-calc(100% - 13%);
  width: -moz-calc(100% - 13%);
  width: -o-calc(100% - 13%);
  float: right;
  padding: 15px 20px;
  background: #fff;
  box-shadow: 0px -1px 6px 0px #ddd;
  margin: 0;
}
.page-dsp-login .scp-header {
  width: 100%;
  margin-bottom: 30px;
  float: none;
}
.page-dsp-login .scp-header .scp-container {
  max-width: 1000px;
  margin: 0 auto;
}
.scp-standalone .scp-header .scp-page-title {
  font-size: 22px;
  font-weight: 300;
}
.scp-standalone .scp-header .scp-bar-toggle {
  background: #707070;
  width: 40px;
  height: 35px;
  text-align: center;
  color: #fff;
  padding: 6px 0;
  cursor: pointer;
  margin-right: 10px;
}
.scp-standalone #drupal-sugar-portal-signup-form {
  width: 100%;
  display: inline-block;
}
/*Side menu
-----------------------------*/

.scp-standalone .scp-leftpanel {
  width: 13%;
  float: left;
}
.scp-standalone .scp-leftpanel:after {
  content: " ";
  position: fixed;
  width: 13%;
  height: 100%;
  background: #292929;
  left: 0;
  top: 0;
  z-index: -1;
}
.scp-standalone .scp-rightpanel {
  width: calc(100% - 13%);
  width: -webkit-calc(100% - 13%);
  width: -moz-calc(100% - 13%);
  width: -o-calc(100% - 13%);
  float: left;
  border: 20px solid #eef0f1;
  padding: 20px;
  background: #fff;
}
body.scp-toggled-on.scp-standalone .scp-header {
  width: 100%;
}
body.scp-toggled-on.scp-standalone .scp-leftpanel {
  display: none;
}
body.scp-toggled-on.scp-standalone .scp-rightpanel {
  width: 100%;
}
/* Side menu
-----------------------------------*/

.scp-standalone ul.scp-sidemenu {
  margin: 0;
  padding: 0;
  background: #292929;
  float: left;
  width: 100%;
  display: block !important;
}
.scp-standalone ul.scp-sidemenu ul {
  margin: 0;
  padding: 0;
}
.scp-standalone .scp-sidemenu li {
  width: 100%;
  float: left;
  list-style-type: none;
}
.scp-standalone .scp-sidemenu > li + li > a {
  border-top: 1px solid #444444;
  color: #c8c8c8;
}
.scp-standalone .scp-sidemenu li a {
  color: #fff;
  text-decoration: none;
  padding: 15px;
  display: block;
  font-size: 14px;
  font-weight: 300;
  cursor: pointer;
  position: relative;
}
.scp-standalone .scp-sidemenu li a.scp-active-menu {
  background: #000;
}
.scp-standalone .scp-sidemenu > li > a:hover {
  background: #000;
}
.scp-standalone .scp-sidemenu li a .fa {
  width: 25px;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
}
.scp-standalone .scp-sidemenu li a .menu-text {
  display: inline-block;
  vertical-align: top;
}
.scp-standalone .scp-sidemenu > li > a:after {
  content: "\f105";
  font-family: FontAwesome;
  font-size: 16px;
  position: absolute;
  right: 15px;
  top: 17px;
  color: #989898;
}
.scp-standalone .scp-sidemenu > li.noborder > a:after {
  content: "\f107";
}
.scp-standalone .scp-sidemenu ul.inner_ul {
  margin: 0;
  padding: 0;
}
.scp-standalone .scp-sidemenu ul.inner_ul li a {
  border-top: 1px solid #444444;
  padding-left: 30px
}
.scp-standalone .scp-sidemenu ul.inner_ul li a.scp-active-submenu {
  background: #000;
}
.scp-standalone .scp-sidemenu li.scp-menu-profile-sec {
  padding: 20px 26px 0 70px;
  min-height: 80px;
  background: #373737;
  position: relative;
}
.scp-standalone .scp-sidemenu li.scp-menu-profile-sec .scp-user-img {
  position: absolute;
  left: 10px;
  top: 15px;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
}
.scp-standalone .scp-sidemenu li.scp-menu-profile-sec .scp-profile-edit {
  position: absolute;
  top: 20px;
  right: 10px;
  width: 16px;
}
.scp-standalone .scp-sidemenu li.scp-menu-profile-sec .scp-profile-edit:hover {
  background: transparent;
  color: #fff;
}
.scp-standalone .scp-sidemenu li.scp-menu-profile-sec .scp-profile-edit:after {
  display: none;
}
.scp-standalone .scp-sidemenu li.scp-menu-profile-sec a {
  padding: 0;
  color: #d9d9d9;
  font-size: 14px;
  font-weight: 600;
}
.scp-standalone .scp-sidemenu li.scp-menu-profile-sec ul {
  display: inline-block;
  margin-top: 5px;
  width: 100%;
  vertical-align: top;
}
.scp-standalone .scp-sidemenu li.scp-menu-profile-sec li {
  display: inline-block;
  vertical-align: middle;
  width: auto;
}
.scp-standalone .scp-sidemenu li.scp-menu-profile-sec li a {
  font-size: 12px;
  color: #9b9b9b;
  font-weight: normal;
  position: relative;
}
.scp-standalone .scp-sidemenu li.scp-menu-profile-sec li a.scp-profile-logout {
  margin-right: 16px;
}
/* Full Width View
=============================================================================================*/

#content .scp-dashboard,
#content .scp-dashboard *,
#content .scp-container,
#content .scp-container * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#content .scp-container {
  padding: 0;
  position: relative;
}
.region-content .scp-dashboard .spc-das-row {
  padding: 0;
}
#content .scp-dashboard .spc-das-row li {
  padding: 0 12px;
}
#content .scp-dashboard .spc-das-row li h2 {
  font-size: 16px;
  margin: 0;
}
#content .scp-main .scp-leftpanel {
  display: block;
}
#content ul.scp-sidemenu {
  width: 230px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-shadow: 0 4px 6px 2px rgba(0, 0, 0, 0.12);
  display: none;
  position: absolute;
  top: 53px;
  left: 0;
  z-index: 9;
}
#content .scp-sidemenu a {
  background: #fff;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid transparent;
  color: #000;
  font-size: 14px;
  font-weight: 400;
  padding: 10px 16px;
  display: block;
  position: relative;
  text-decoration: none;
}
#content .scp-sidemenu > li > a:after {
  content: "\f105";
  font-family: FontAwesome;
  font-size: 16px;
  position: absolute;
  right: 15px;
  top: 0;
  color: #6e6e6e;
  bottom: 0;
  margin: auto;
  height: 14px;
  line-height: 14px;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
#content .scp-sidemenu > li:hover > a:after {
  right: 10px;
}
#content .scp-sidemenu > li:hover > a {
  background: #f0f0f0
}
#content .scp-sidemenu > li.noborder > a:after {
  content: "\f107";
}
#content .scp-sidemenu .scp-menu-profile-sec {
  display: none;
}
#content .scp-sidemenu > li {
  position: relative;
}
#content .scp-sidemenu > li > ul {
  display: none !important;
  position: absolute;
  left: 100%;
  width: 182px;
  top: 0px;
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.12);
  z-index: 1;
  padding: 0;
  margin: 0;
  height: auto !important;
}
#content .scp-sidemenu > li:hover > ul {
  display: block !important;
}
#content .scp-sidemenu > li > ul li .side-icon-wrapper {
  display: none;
}
#content .scp-sidemenu a .side-icon-wrapper {
  color: #fff;
  font-weight: 300;
  background: #80cbc4;
  padding: 4px;
  border-radius: 3px;
  width: 25px;
  text-align: center;
  margin-right: 5px;
  font-size: 15px;
}
#content .scp-header {
  padding: 10px;
}
#content #drupal-sugar-portal-signup-form .scp-header {
  margin-bottom: 15px;
}
#content .scp-header .scp-action .scp-open-dashboard-menu {
  top: 42px;
  box-shadow: 0 4px 6px 2px rgba(0, 0, 0, 0.12);
}
#content .scp-rightpanel {
  margin-top: 20px;
}

/* Responsive
===============================================================================*/

@media only screen and (min-width: 768px) and (max-width: 1250px) {
  .scp-standalone .scp-leftpanel,
  .scp-standalone .scp-leftpanel:after {
    width: 22%;
  }
  .scp-standalone .scp-rightpanel,
  .scp-standalone .scp-header {
    width: calc(100% - 22%);
    width: -webkit-calc(100% - 22%);
    width: -moz-calc(100% - 22%);
    width: -o-calc(100% - 22%);
  }
}
@media(max-width: 1024px) {
  .scp-standalone .scp-leftpanel {} .scp-dashboard .spc-das-row li {
    padding: 0 15px;
    margin-top: 30px;
  }
}
@media(max-width: 991px) {
  .scp-dashboard .spc-das-row li {
    width: 25%;
  }
  .scp-form .scp-dtl-panel .scp-col-6 {
    width: 100%;
  }
  .scp-table-responsive table {
    min-width: 1000px;
  }
  .dsp-list-title .scp-action-header-left a.scp-btn {
    font-size: 0;
    padding: 6px 9px;
  }
  .dsp-list-title .scp-action-header-left a span.fa.fa-plus {
    font-size: 15px;
    margin-right: 0;
  }
  .dsp-list-title .actionform_search {
    padding-right: 45px;
    width: 300px;
  }
  .dsp-list-title .search-btn.hdr-btn-link,
  #content .dsp-list-title .search-btn.hdr-btn-link,
  .dsp-list-title .hdr-btn-link {
    font-size: 0;
    width: 35px;
  }
  .dsp-list-title .search-btn.hdr-btn-link i,
  #content .dsp-list-title .search-btn.hdr-btn-link i,
  .dsp-list-title .hdr-btn-link i {
    font-size: 15px;
    line-height: 34px;
  }
}
@media(max-width: 767px) {
  .scp-dashboard .spc-das-row li {
    width: 33.33%;
  }
  .scp-dashboard .spc-das-row li h2 {
    font-size: 13px;
  }
  .scp-dashboard .spc-das-row li .module-icon {
    height: 120px;
    font-size: 60px;
    line-height: 120px;
  }
  .scp-dashboard .scp-container {
    padding: 0 15px;
  }
  .dsp-login-container {
    width: 280px;
    padding: 50px 10px 10px;
    margin-bottom: 30px;
  }
  .scp-form .panel-left-label label {
    width: 100%;
    text-align: left;
  }
  .scp-form .panel-left-label .data-view {
    width: 100%;
  }
  .scp-standalone .scp-header {
    width: 100%;
  }
  .scp-standalone .scp-leftpanel {
    width: 100%;
  }
  .scp-standalone .scp-leftpanel:after {
    display: none;
  }
  .scp-standalone .scp-rightpanel {
    width: 100%;
  }
  .scp-form .scp-dtl-panel .scp-col-6 {
    width: 100%;
  }
  .scp-standalone .scp-leftpanel {
    display: none;
  }
  body.scp-toggled-on.scp-standalone .scp-leftpanel {
    display: block;
  }
  .scp-button,
  .scp-cancel,
  body .scp-form-actions .scp-cancel[type="button"] {
    padding: 12px 20px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    line-height: 14px;
  }
  .scp_recent_activities .activity-tab {
    width: 100%;
  }
  .dsp-gen-form {
    margin: 0;
  }
  .dsp-gen-form .form-item {
    width: 100%;
  }
  .fc-header td {
    white-space: normal;
    width: auto;
    vertical-align: middle;
  }
  .fc-header h2 {
    font-size: 14px;
    padding-right: 5px;
  }
  .fc-header .fc-button {
    margin: 0;
    float: left;
    padding: 0px 3px
  }
  .fc-header-right {
    width: auto;
  }
}
@media(max-width: 640px) {
  .scp-dashboard .spc-das-row li {
    width: 50%;
  }
  .dsp-list-title .actionform_search {
    width: 100%;
  }
  .scp-form-title .scp-move-action-btn {
    width: 100%;
    float: left;
    margin-top: 10px;
  }
  .scp-form-title .scp-move-action-btn a:first-child {
    margin-left: 0;
  }
}

/*Colors
=======================================================================================*/
/*Background*/

.scp-Accounts,
.scp-Accounts-body .scp-button,
.scp-Accounts-body .scp-btn-default,
#content .scp-sidemenu a .side-icon-wrapper.Accounts {
  background: #80cbc4 !important;
}
.scp-Leads,
.scp-Leads-body .scp-button,
.scp-Leads-body .scp-btn-default,
#content .scp-sidemenu a .side-icon-wrapper.Leads {
  background: #64b5f6 !important;
}
.scp-Cases,
.scp-Cases-body .scp-button,
.scp-Cases-body .scp-btn-default,
#content .scp-sidemenu a .side-icon-wrapper.Cases {
  background: #f48fb1 !important;
}
.scp-Opportunities,
.scp-Opportunities-body .scp-button,
.scp-Opportunities-body .scp-btn-default,
#content .scp-sidemenu a .side-icon-wrapper.Opportunities {
  background: #c69c6d !important;
}
.scp-Documents,
.scp-Documents-body .scp-button,
.scp-Documents-body .scp-btn-default,
#content .scp-sidemenu a .side-icon-wrapper.Documents {
  background: #ffb74d !important;
}
.scp-Calls,
.scp-Calls-body .scp-button,
.scp-Calls-body .scp-btn-default,
#content .scp-sidemenu a .side-icon-wrapper.Calls {
  background: #9fa8da !important;
}
.scp-Meetings,
.scp-Meetings-body .scp-button,
.scp-Meetings-body .scp-btn-default,
#content .scp-sidemenu a .side-icon-wrapper.Meetings {
  background: #ff8a65 !important;
}
.scp-Tasks,
.scp-Tasks-body .scp-button,
.scp-Tasks-body .scp-btn-defaultm,
#content .scp-sidemenu a .side-icon-wrapper.Tasks {
  background: #ce93d8 !important;
}
.scp-Notes,
.scp-Notes-body .scp-button,
.scp-Notes-body .scp-btn-default,
#content .scp-sidemenu a .side-icon-wrapper.Notes,
.scp-Cases-body .scp-move-action-btn .scp-btn.scp-Notes,
.scp-Cases-body .scp-form-actions .scp-button.scp-Notes {
  background: #81c784 !important;
}
.scp-Calendar,
.scp-Calendar-body .scp-button,
.scp-Calendar-body .scp-btn-default,
#content .scp-sidemenu a .side-icon-wrapper.Calendar {
  background: #4dd0e1 !important;
}
/*Border*/

.scp-Accounts {
  border-color: #80cbc4 !important;
}
.scp-Leads {
  border-color: #64b5f6 !important;
}
.scp-Cases {
  border-color: #f48fb1 !important;
}
.scp-Opportunities {
  border-color: #c69c6d !important;
}
.scp-Documents {
  border-color: #ffb74d !important;
}
.scp-Calls {
  border-color: #9fa8da !important;
}
.scp-Meetings {
  border-color: #ff8a65 !important;
}
.scp-Tasks {
  border-color: #ce93d8 !important;
}
.scp-Notes {
  border-color: #81c784 !important;
}
.scp-Calendar {
  border-color: #4dd0e1 !important;
}
/*Text*/

.scp-Accounts-font,
.scp-Accounts-body .dsp-list-title h3,
.scp-Accounts-body .scp-form-title h3,
.scp-Accounts-body .general-link-btn {
  color: #80cbc4 !important;
}
.scp-Leads-font,
.scp-Leads-body .dsp-list-title h3,
.scp-Leads-body .scp-form-title h3,
.scp-Leads-body .general-link-btn {
  color: #64b5f6 !important;
}
.scp-Cases-font,
.scp-Cases-body .dsp-list-title h3,
.scp-Cases-body .scp-form-title h3,
.scp-Cases-body .general-link-btn {
  color: #f48fb1 !important;
}
.scp-Opportunities-font,
.scp-Opportunities-body .dsp-list-title h3,
.scp-Opportunities-body .scp-form-title h3,
.scp-Opportunities-body .general-link-btn {
  color: #c69c6d !important;
}
.scp-Documents-font,
.scp-Documents-body .dsp-list-title h3,
.scp-Documents-body .scp-form-title h3,
.scp-Documents-body .general-link-btn {
  color: #ffb74d !important;
}
.scp-Calls-font,
.scp-Calls-body .dsp-list-title h3,
.scp-Calls-body .scp-form-title h3,
.scp-Calls-body .general-link-btn {
  color: #9fa8da !important;
}
.scp-Meetings-font,
.scp-Meetings-body .dsp-list-title h3,
.scp-Meetings-body .scp-form-title h3,
.scp-Meetings-body .general-link-btn {
  color: #ff8a65 !important;
}
.scp-Tasks-font,
.scp-Tasks-body .dsp-list-title h3,
.scp-Tasks-body .scp-form-title h3,
.scp-Tasks-body .general-link-btn {
  color: #ce93d8 !important;
}
.scp-Notes-font,
.scp-Notes-body .dsp-list-title h3,
.scp-Notes-body .scp-form-title h3,
.scp-Notes-body .general-link-btn,
.scp-Cases-body .scp-form-title.scp-Notes-font h3 {
  color: #81c784 !important;
}
.scp-calendar-font,
.scp-calendar-body .dsp-list-title h3,
.scp-calendar-body .scp-form-title h3,
.scp-calendar-body .general-link-btn {
  color: #4dd0e1 !important;
}
